* {
  box-sizing: border-box;
}

body {
    /*background-color: #f1f1f1;*/
    background: url(../image/02.png) no-repeat 0 0;/*no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
.fixcls{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin-top: 10px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid,select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background: linear-gradient(135deg, #ffc107, #fc7a01);/*4CAF50*/
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 19%;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  /*border-radius: 50%;*/
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  background: linear-gradient(135deg, #ffc107, #fc7a01);
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background: linear-gradient(135deg, #ffc107, #fc7a01);
}
.btnDiv{
  overflow:auto;
  margin-top: 10px;
}
.spancls{
  text-align:center;
  margin-top:40px;
}


@media only screen and (max-width: 480px) {
    .step { width: 13%; }
}